body {
    background-color: #e5e5e5;
}

header {
    text-align: center;
    background-color:#e5e5e5;
}

main {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
}

h1 {
    color: #005677;
    background-color: #c4c4c4;
    text-align: center;
    letter-spacing: 0.3em;
}

h3 {
    background-color: #c4c4c4;
    color: #005677;
    font-family: 'Times New Roman';
    font-variant-caps: all-petite-caps;
    margin-right: 100px;
    margin-left: 100px;
}

.datosPersonales {
    font-style: italic;
    font-weight: bold;
}

.fecha {
    font-weight: bold;
}

li {
    margin-left: 150px;
}
footer {
    text-align: center;
    background-color: #005677;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px ;
}

